@font-face {
    font-family: 'AlteHaasGroteskBold';
    src: url('./assets/fonts/Alta_Bold/AlteHaasGroteskBold.ttf') format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: 'AlteHaasGroteskRegular';
    src: url('./assets/fonts/Alta_Regular/AlteHaasGroteskRegular.ttf') format('truetype');
}
